Handy Reminders\bin
Handy Reminders\obj
Handy Reminders/.vs/Handy Reminders/DesignTimeBuild/.dtbcache.v2
Handy Reminders/.vs/Handy Reminders/v17/.suo
Handy Reminders/.vs/ProjectEvaluation/handy reminders.metadata.v6.1
Handy Reminders/.vs/ProjectEvaluation/handy reminders.projects.v6.1
/Handy Reminders/.vs
/Handy Reminders/obj
/Handy Reminders/bin
